:root {
  --celeste: #0099cc;
  --gris: #999;
  --negro: #000;
  --gris-claro: #ddd;
  --blanco: #fff;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--celeste);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border-radius: 3px;
  box-shadow: 1px 1px 2px 3px var(--negro);
  height: 315px;
  width: 180px;
  background-color: var(--gris);
}

/*element*/

.element {
  border: 1px solid var(--negro);
  outline: none;
  margin: 0.6rem;
  background-color: var(--gris-claro);
  border-radius: 2px;
  box-shadow: 0 0 3px 1px var(--negro);
  font-size: 1rem;
}

#display {
  height: 2rem;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0 0.2rem;
  grid-column: 1 / -1;
  margin: 5px;
  background-color: var(--blanco);
}

.number:hover {
  border: none;
  background-color: var(--blanco);
  cursor: pointer;
  box-shadow: none;
}

.number:nth-child(9) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.number:nth-child(10) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.number:nth-child(11) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.number:nth-child(12) {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.number:nth-child(13) {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.number:nth-child(14) {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.number:nth-child(15) {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.number:nth-child(16) {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.number:nth-child(17) {
  grid-column: 3 / 5;
  grid-row: 6 / 7;
}
